@model IEnumerable<BusinessLayer.Models.BCharOrg>;
@{
    ViewData["Title"] = "Donate";
}

<h1>Donate</h1>
<h4>Thank you for donating.</h4> 
<h4>These are the current available charity organisations you can donate to:</h4>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
            </tr>
        }
    </tbody>
</table>